@page
@model RegisterModel
@{
    Layout = "/Views/Shared/_CustomLayoutRegister.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/register.css?v=1.0">
    <title>@ViewData["Title"] - ChatterBox</title>
</head>
<body>
    <div class="container">
        <div class="left">
        </div>
        <div class="right">
            <div class="login-box">
                <div class="logo">
                    <img src="~/img/logo1-bg.png" alt="ChatterBox Logo">
                </div>
                <h2>Welcome</h2>
                <p>Create A New Account</p>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <label for="firstName">First Name</label>
                    <input asp-for="Input.FirstName" class="form-control" id="firstName" placeholder="John" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>

                    <label for="lastName">Last Name</label>
                    <input asp-for="Input.LastName" class="form-control" id="lastName" placeholder="Doe" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>

                    <label for="email">Email</label>
                    <input asp-for="Input.Email" class="form-control" id="email" placeholder="example.email@gmail.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <label for="password">Password</label>
                    <input asp-for="Input.Password" class="form-control" id="password" placeholder="At least 8+ characters" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <label for="confirmPassword">Confirm Password</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                    <button type="submit" class="btn btn-primary">Sign-up</button>
                </form>

                <section>
                    <hr />
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-danger" name="provider" value="@provider.Name" title="Sign up using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}